Loaded Dataset

In [1]:
import pandas as pd
dataset = pd.read_csv("F:\VS Code\Personal Projects\datasets\daily_data_combined_2020_to_YTD.csv\daily_data_combined_1980_to_1989.csv")
dataset.head()

,city_name,datetime,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,...,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
0,Ahmedabad,2020-01-01,3.0,25.5,15.5,20.0,25.8,13.7,19.6,2020-01-01T01:50,...,31785.50,0.0,0.0,0.0,0.0,16.0,31.3,48.0,13.63,3.15
1,Ahmedabad,2020-01-02,1.0,25.5,14.0,19.5,26.4,13.4,19.1,2020-01-02T01:50,...,35113.61,0.0,0.0,0.0,0.0,13.8,27.4,21.0,14.82,3.20
2,Ahmedabad,2020-01-03,1.0,24.5,13.0,18.0,23.7,12.1,17.3,2020-01-03T01:50,...,35096.95,0.0,0.0,0.0,0.0,10.5,23.4,7.0,15.37,3.09
3,Ahmedabad,2020-01-04,1.0,24.9,12.9,18.1,23.7,11.5,16.7,2020-01-04T01:51,...,35081.52,0.0,0.0,0.0,0.0,12.5,26.6,50.0,15.58,3.49
4,Ahmedabad,2020-01-05,0.0,25.0,12.7,18.6,22.4,11.3,16.7,2020-01-05T01:51,...,35078.90,0.0,0.0,0.0,0.0,16.6,34.2,75.0,15.81,3.82

Mean data store in place of missing values

In [2]:
missing_data_cols = ['temperature_2m_mean', 'apparent_temperature_mean', 'sunshine_duration', 'precipitation_sum', 'rain_sum', 'snowfall_sum', 'wind_direction_10m_dominant', 'shortwave_radiation_sum', 'et0_fao_evapotranspiration']
dataset[missing_data_cols] = dataset[missing_data_cols].fillna(dataset[missing_data_cols].mean())

Droping unrequired columns

In [3]:
dataset.drop(['sunrise', 'sunset'], axis = 1, inplace = True)
dataset.head()

,city_name,datetime,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
0,Ahmedabad,2020-01-01,3.0,25.5,15.5,20.0,25.8,13.7,19.6,38688.66,31785.50,0.0,0.0,0.0,0.0,16.0,31.3,48.0,13.63,3.15
1,Ahmedabad,2020-01-02,1.0,25.5,14.0,19.5,26.4,13.4,19.1,38709.35,35113.61,0.0,0.0,0.0,0.0,13.8,27.4,21.0,14.82,3.20
2,Ahmedabad,2020-01-03,1.0,24.5,13.0,18.0,23.7,12.1,17.3,38731.80,35096.95,0.0,0.0,0.0,0.0,10.5,23.4,7.0,15.37,3.09
3,Ahmedabad,2020-01-04,1.0,24.9,12.9,18.1,23.7,11.5,16.7,38755.96,35081.52,0.0,0.0,0.0,0.0,12.5,26.6,50.0,15.58,3.49
4,Ahmedabad,2020-01-05,0.0,25.0,12.7,18.6,22.4,11.3,16.7,38781.81,35078.90,0.0,0.0,0.0,0.0,16.6,34.2,75.0,15.81,3.82

Save to cleaned dataset file

In [4]:
dataset.to_csv("cleaned_dataset.csv", index = False)